/* 2x Laptop */
@media screen and (max-width: 1536px) {
    
}

/* X Laptop */
@media screen and (max-width: 1280px) {
    header {  
        position: sticky;
        top: 0;
        }

    .header {
        width: 100vw;
        padding: 0 38.4px;
    }

    .middle-side {
        max-width: 400px;
    }

    .shared-post .content-of-post .pic-comment .comment .writing {
        width: 327px;
    }

    .shared-post .content-of-post .pic-comment .comment .writing figure {
        margin-left: 14px;
    }

    main {
        width: 100vw;
        margin: 16px auto;
    }

    .shared-post .content-of-post .post-long-hr2 {
        width: 364px;
    }

    .middle-side .post .long-hr {
        width: 364px;
    }

    .shared-post .post-long-hr {
        width: 364px;
    }
    }



/* Laptop */
@media screen and (max-width: 1024px) {
    header {  
        position: sticky;
        top: 0;
        }

    .header {
        width: 100vw;
        padding: 0 38.4px;
    }
    
    .header .header-item1 .search {
        display: none;
    }

    .right-side {
        display: none;
    }

    .middle-side {
        max-width: 540px;
    }

    main {
        width: 100vw;
        margin: 16px auto;
    }

    .shared-post .content-of-post .pic-comment .comment .writing {
        width: 459px;
    }
    
    .shared-post .content-of-post .pic-comment .comment .writing figure {
        margin-left: 0
    }

    .shared-post .content-of-post .post-long-hr2 {
        width: 508px;
    }
    
    .middle-side .post .long-hr {
        width: 508px;
    }
    
    .shared-post .post-long-hr {
        width: 508px;
    }

}

/* Tablet */
@media screen and (max-width: 768px) {
    header {  
        position: sticky;
        top: 0;
        }

    .header {
        width: 100vw;
        padding: 0 38.4px;
    }

    .left-side {
        display: none;
    }
    
    .middle-side {
        width: 100vw;
    }

    .left-side {
        display: none;
    }

    main {
        width: 100vw;
        margin: 16px auto;
    }

    .shared-post .content-of-post .pic-comment .comment .writing {
        width: 459px;
    }
    
    .shared-post .content-of-post .pic-comment .comment .writing figure {
        margin-left: 18px;
    }

    .shared-post .content-of-post .post-long-hr2 {
        width: 508px;
    }

    .middle-side .post .long-hr {
        width: 508px;
    }

    .shared-post .post-long-hr {
        width: 508px;
    }

    .like div a :nth-child(1) {
        margin-right: 8px
    }
    
}

/* Mobile */
@media screen and (max-width: 640px) {

    header {  
        position: sticky;
        top: 0;
        }

    .header {
        width: 100vw;
    }

    main {
        max-width: 100vw;
        margin: 16px auto;
    }

    .header-item2 a:not(:last-child) {
        margin-right: 22px;
    }

    .header-item3 :nth-child(1),
    .header-item3 :nth-child(2),
    .header-item3 :nth-child(3) {
        display: none;
    }

    .header .header-last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header div .media-horizontal {
        margin-left: 18px;
        
    }

    .shared-post .content-of-post .pic-comment .comment .writing {
        width: 419px;
    }
    
    .shared-post .content-of-post .pic-comment .comment .writing figure {
        margin-left: 14px;
    }

    .shared-post .content-of-post .post-long-hr2 {
        width: 459px;
    }

    .middle-side .post .long-hr {
        width: 459px;
    }

    .shared-post .post-long-hr {
        width: 459px;
    }

    .like div a :nth-child(1) {
        margin-right: 6px
    }

}