/* 2x Laptop */
@media screen and (max-width: 1536px) {
    
}

/* X Laptop */
@media screen and (max-width: 1280px) {

.header {
    width: 100vw;
    padding: 0 38.4px;
}

.middle-side {
    max-width: 400px;
}

.pic-comment {
    max-width: 100%;
}

.writting {
    width: 81px;
}


}

/* Laptop */
@media screen and (max-width: 1024px) {

    .header {
        width: 100vw;
        padding: 0 38.4px;
    }
    
    header .header-item1 .search {
        display: none;
    }

    .right-side {
        display: none;
    }

    .middle-side {
        max-width: 540px;
    }

   
}

/* Tablet */
@media screen and (max-width: 768px) {

    .header {
        width: 100vw;
        padding: 0 38.4px;
    }
    
    .middle-side {
        margin-right: 270px;
        max-width: 540px;
    }

    .left-side {
        display: none;
    }

    .main {
        padding: 16px 0;
    }

   
    
}

/* Mobile */
@media screen and (max-width: 640px) {

    .header {
        width: 100vw;
        padding: 0 38.4px;
    }

    .header-item2 a:not(:last-child) {
        margin-right: 22px;
    }

    .header-item3 :nth-child(1),
    .header-item3 :nth-child(2),
    .header-item3 :nth-child(3) {
        display: none;
    }

    .header .header-last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header div .media-horizontal {
        margin-left: 18px;
        
    }

}